* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    /* height: 100%; */
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

/* body {
    margin: 0;
    padding: 0;
    overflow: hidden;
} */

h1,
h2,
h3,
header,
footer {
    font-family: 'Lato', sans-serif;
    overflow-wrap: break-word;
}

h1>a:visited,
h1>a:link {
    color: #eb6100 !important;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    z-index: 5000;
}

h1 {
    color: #eb6100;
    font-size: 24px;
    letter-spacing: 0.2em;
    position: absolute;
    left: 5%;
    width: 50%;
    /* メニューアイコンと被らないように */
}

h2 {
    font-size: 48px;
    letter-spacing: 0.05em;
    /* padding: 40px 0; */
    margin: 40px 0;
    color: #eb6100;
}

.conparison-chart h3 {
    line-height: 3;
    font-size: 26px;
    letter-spacing: 0.05em;
}

nav {
    position: absolute;
    right: 10%;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    letter-spacing: 0.05em;
    color: #000000;
}

/* a:link,
a:visited {
    color: #000000;
} */

a:hover,
a:focus {
    color: #eb6100;
}

section {
    background-color: #ffffff;
    padding: 50px 60px 150px 60px;
}

.pictuture {
    background-color: #ffffff;
    padding: 50px 50px 0 50px;
}

ul {
    list-style: none;
}

nav ul {
    display: flex;
}

nav li {
    padding: 10px;
    font-weight: bold;
}

table,
th,
td {
    border-collapse: collapse;
    text-align: center;
}

table {
    font-weight: bold;
    margin: 0 auto;
    width: 800px;
}

th,
td {
    padding: 8px;
    border: 2px solid rgba(204, 204, 204, 0.5);
}

/* テーブルを横スクロール可能にする */
.table-container {
    overflow-x: auto;
}

/* テーブルの両端の縦線を消す */
table th:first-child,
table td:first-child {
    border-left: none;
}

table th:last-child,
table td:last-child {
    border-right: none;
}


th:nth-child(2),
th:nth-child(3) {
    color: #303949;
}

th:nth-child(4) {
    color: #ff5959;
}

tbody tr:nth-child(1) td:nth-child(4),
tbody tr:nth-child(3) td:nth-child(4),
tbody tr:nth-child(5) td:nth-child(4),
tbody tr:nth-child(6) td:nth-child(4) {
    color: #ff5959;
}

/* 表のヘッダーの下線 */
thead {
    border-bottom: #303949 solid 5px;
}



/* メニューアイコンとモバイルボタン */
.menu-icon {
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 20px 10px;
    border-left: black solid 3px;
    z-index: 9900;
    font-weight: bold;
}

.open {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #eb6100;
    transform: translateY(100%);
    transition: transform .5s ease-in-out;
    z-index: 8888;
}

.open a:hover {
    color: #ffffff;
}

.open .menu-list {
    position: absolute;
    /* width: 400px; */
    /* 縦横中央揃え */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.open .menu-list ul li {
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.open .menu-list ul li:last-child {
    border: 1px solid #000000;
    letter-spacing: 0.1em;
}

.main-visual {
    position: relative;
    top: 100px;
    width: calc(100% - 20px);
    /* Add left and right margin */
    margin: 0 10px;
    /* Add left and right margin */
    height: 100vh;
    /* z-index: -1; */
}

.main-visual::before {
    content: "";
    /* background: url(main.png) no-repeat center center / cover; */
    background-image: url(./img/main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 60px;
    width: calc(100% - 120px);
    height: 90vh;
    z-index: -1;
}

.mv::before {
    content: "お店の\A魅力を\Aもっと広めたい？";
    white-space: pre-line;
    /* 改行を有効にする */
    position: fixed;
    top: 65vh;
    left: 36px;
    font-size: 44px;
    color: #eb6100;
    font-weight: bold;
    z-index: -1;
}


/* topic SECTION */
.topic {
    border-left: #000000 solid 3px;
    max-height: 100px;
}

.topic h2 {
    /* padding: 12px 20px; */
    margin: 12px 20px;
}

.topic-list {
    overflow-y: scroll;
    height: 55px;
    padding-left: 20px;
    scrollbar-width: none;
    /* Firefox */
}

.topic-list::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.topic-item {
    display: flex;
    padding: 10px 10px 0px 0;
    margin-bottom: 10px;
}

.vision {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.vision-img {
    padding: 10px;
}

.vision-text {
    text-align: right;
}

.vision-text p:first-of-type {
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #eb6100;
    font-weight: bold;
    line-height: 2;
    padding: 0;
}

.vision-text p:first-of-type::after {
    content: "";
    display: block;
    border-bottom: #eb6100 solid 3px;
    max-width: 271px;
    margin-top: 20px;
    margin-left: auto;
}

.vision-text p {
    padding-top: 50px;
    line-height: 2;
}


@media screen and (max-width: 1161px) {
    .vision {
        flex-direction: column;
    }

    .vision-img {
        order: 2;
        padding-top: 30px;
    }

    .vision-text {
        text-align: center;
        order: 1;
    }

    .vision-text p:first-of-type::after {
        margin-right: auto;
    }
}

/* サービス SECTION */
.service-title h2 {
    color: #333333;
}

.service-title {
    text-align: center;
}

.service-text {
    float: right;
    line-height: 2;
}

.service-box {
    content: "";
    background-image: url(./img/service.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-position: bottom;
    background-size: contain;
    width: 100%;
    height: 90vh;
    position: relative;
}

/* conparison-chart */
.conparison-chart {
    width: 100%;
    margin-top: 80px;
    padding-top: 30px;
}

.conparison-chart h3 {
    max-width: 1100px;
    line-height: 2;
    font-size: 50px;
    letter-spacing: 0.1em;
    background-color: #303949;
    color: #ffffff;
    padding-left: 120px;
    position: relative;
    font-family: serif;
    margin: 0 auto;
    word-wrap: break-word;
}

.conparison-chart h3::before {
    content: "";
    position: absolute;
    width: 53px;
    height: 170px;
    background-color: #beaf97;
    left: 0;
}


/* about SECTION */
.about {
    width: 100%;
}

.about-title {
    text-align: center;
}

.about-list {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    color: #686868;
}

.about-list li {
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    padding-top: 10px;
}

.about-list ul {
    display: block;
}

/* .about-list 内の dt と dd を横並びにする */
.about-list dl {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.about-list dt {
    flex: 0 0 40%;
    /* dt 要素の幅を親要素の 30% に固定する  dt の幅を調整 */
    padding-left: 30px;
}

.about-list dd {
    flex: 1;
    /* dd が残りの幅を占める flex-grow: 1;flex-shrink: 1;flex-basis: 0;*/
    margin: 0;
    word-break: break-all;
    /* 長い単語やURLを折り返す */
}


.pictuture-box {
    width: 100%;
    height: 80vh;
    background-color: #ffffff;
    position: relative;
}

.pictuture {
    position: absolute;
    width: 85%;
    height: 55vh;
    background: url(./img/pictuture.png) no-repeat center;
    background-size: cover;
    z-index: 1;
    right: 60px;
    padding: 0;
}

.pictuture-box::before {
    content: "";
    position: absolute;
    top: 15%;
    left: 60px;
    width: 85%;
    height: 50vh;
    background: #f3f3f3;
    z-index: 0;
}

/* faq SECTION */
.faq {
    width: 100%;
}

.faq h2 {
    text-align: center;
    color: #333333;
}

.accordion-area {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.accordion-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.ac-title {
    cursor: pointer;
    padding: 20px;
    margin: 0;
    font-weight: 100;
}

.ac-title::before {
    content: "＋";
    padding-right: 10px;
    font-weight: bold;
}

.ac-title.active::before {
    content: "×";
}

.ac-box {
    display: none;
    /* 初期状態では非表示 */
    padding: 20px;
    margin: 20px;
    font-size: 14px;
    background-color: #f3f3f3;
}


/* フッター */
footer {
    border-top: 1px solid #000000;
    padding: 80px 0;
    text-align: center;
    background-color: #ffffff;
}

footer p {
    line-height: 4;
    letter-spacing: 0.2em;
}





/*========= 画面遷移のためのCSS ===============*/

/* h2要素のアニメーション */
h2 {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

h2::before,
#splash-logo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eb6100;
    /* 背景色を設定 */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

.topic h2::before {
    top: 0;
    left: 0;
}

h2 span,
#splash-logo span {
    opacity: 0;
    display: inline-block;
    transition: opacity 0.5s ease-in-out;
}

h2.appear::before,
#splash-logo.appear::before {
    transform: scaleX(1);
    transform-origin: left;
}

h2.disappear::before,
#splash-logo.disappear::before {
    transform: scaleX(0);
    transform-origin: right;
}

h2.text-appear span,
#splash-logo.text-appear span {
    opacity: 1;
}


.service h2::before,
.faq h2::before {
    background-color: #000000;
}





/*==================================================
　5-2-1 3本線が×に
===================================*/

/*ボタン内側*/
.menu-icon span {
    display: inline-block;
    transition: all .4s;
    /*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #000000;
    width: 45%;
    opacity: 0;
}

.menu-icon span:nth-of-type(1) {
    top: 23px;
}

.menu-icon span:nth-of-type(2) {
    top: 31px;
}

.menu-icon span:nth-of-type(3) {
    top: 39px;
}

/*activeクラスが付与されると線が回転して×に*/

.menu-icon.active span {
    opacity: 1;
    width: 50% !important;
}
.menu-icon.active span:nth-of-type(1) {
    top: 26px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.menu-icon.active span:nth-of-type(2) {
    opacity: 0;
    /*真ん中の線は透過*/
}

.menu-icon.active span:nth-of-type(3) {
    top: 38px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

.menu-icon.active p {
    opacity: 0;
}
.menu-icon p {
    opacity: 1;
    /* こっちに入れることで両方に適用される、どっちにもセレクタが同じのがあるため */
    transition: all .4s;
}

.btn-block {
    width: 200px;
    padding: 30px;
}







/*========= ローディング画面のためのCSS ===============*/
#splash {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 9999999;
    text-align:center;
    color:#fff;
  }
  
  #splash-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
/*========= 画面遷移のためのCSS ===============*/

/*画面遷移アニメーション*/
.splashbg{
    display: none;
}

/*bodyにappearクラスがついたら出現*/
body.fade-in .splashbg{
    display: block;
    content: "";
    position:fixed;
  z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
  left: 0;
    transform: scaleY(0);
    background-color: #333;/*伸びる背景色の設定*/
  animation-name:PageAnime;
  animation-duration:1.2s;
  animation-timing-function:ease-in-out;
  animation-fill-mode:forwards;

}

@keyframes PageAnime{
  0% {
    transform-origin:bottom;
    transform:scaleY(0);
  }
  50% {
    transform-origin:bottom;
    transform:scaleY(1);
  }
  50.001% {
    transform-origin:top;
  }
  100% {
    transform-origin:top;
    transform:scaleY(0);
  }
}

/*画面遷移の後現れるコンテンツ設定*/

#container{
  opacity: 0;/*はじめは透過0に*/
  /* background-color: #ff5959; */
}

/*bodyにappearクラスがついたら出現*/
body.fade-in #container{
  animation-name:PageAnimeAppear;
  animation-duration:1s;
  animation-delay: 0.8s;
  animation-fill-mode:forwards;
  opacity: 0;
}

@keyframes PageAnimeAppear{
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
}
}








/*========= レスポンシブ ===============*/


@media screen and (max-width: 900px) {
    .pictuture {
        position: absolute;
        width: 80%;
        height: 40vh;
        right: 60px;
        padding: 0;
    }

    .pictuture-box::before {
        top: 10%;
        left: 60px;
        width: 80%;
        height: 40vh;
    }
}

@media screen and (max-width: 670px) {
    .pictuture-box {
        height: 66vh;
    }

    .pictuture {
        position: absolute;
        width: 70%;
        height: 40vh;
        right: 30px;
        padding: 0;
    }

    .pictuture-box::before {
        top: 10%;
        left: 30px;
        width: 70%;
        height: 40vh;
    }
}


@media (max-width: 993px) {
    .service-box {
        height: 70vh;
    }
}

@media screen and (max-width: 830px) {
    nav {
        display: none;
    }
}

@media (max-width: 768px) {
    p {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .service-box {
        height: 70vh;
    }

    /* アバウトの表を縦にして余計なpadding削除 */
    .about-list dl {
        display: block;
        text-align: center;
    }

    .about-list dt {
        padding: 0;
    }
}

/* @media (max-width: 580px) { */
@media (max-width: 651px) {
    section {
        background-color: #ffffff;
        padding: 50px 20px 40px 20px;
    }

    h3 {
        font-size: 40px;
    }

    .service-text h3 {
        font-size: 20px;
    }

    .conparison-chart h3 {
        padding-left: 40px;
    }

    .conparison-chart h3::before {

        width: 30px;
        height: 147px;
    }
}

@media (max-width: 468px) {
    /* .main-visual::before { */
    /* background-size: contain; */
    /* 背景画像のサイズを調整 */
    /* background-position: top;  */
    /* 背景画像の位置を調整 */
    /* height: 50vh;  */
    /* 高さを調整 */
    /* } */

    .mv::before {
        top: 40vh;
        left: 20px;
        font-size: 24px;
    }
}